<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Huge heart</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="/public/css/main.css">
    <link rel="stylesheet" href="css/signIN.scss">
    <script type="text/javascript" src="/js/signIN.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&family=Quicksand:wght@300&family=Rubik:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@700&family=Mulish&family=Playfair+Display&family=Quicksand:wght@300&family=Rubik:wght@700&display=swap" rel="stylesheet">
</head>
<body>
<div class="navbar">
    <img class="logo-navbar" src="..." alt="">
    <h4 class="logo-text">Handalak</h4>
    <a class="navbar-section1" href="...">Главная</a>
    <a class="navbar-section2" href="...">О нас</a>
    <a class="navbar-section3" href="...">Продукция</a>
    <a class="navbar-section4" href="...">Компании</a>
    <a class="navbar-section5" href="...s">Сотрудничество</a>
    <a class="navbar-section6" href="...">Вход</a>
</div>
<div class="first-page">
    <h1 class="title-first-page">Почувствуй вкус ВОСТОКА...</h1>
    <img class="img-1" src="/public/images/photo5231159618821012856.jpg" alt="">
    <img class="img-1.1" src="/public/images/photo5231159618821012863.jpg" alt="">
    <img class="img-1.2" src="/public/images/photo5231159618821012863.jpg" alt="">
</div>
<div class="second-page">
    <h1 class="title-second-page">Прямые поставки фруктов, овощей из Центральной Азии</h1>
    <p class="v1-2">Наши продукции - экологически чистые, выращенные на просторных полях и садах и бахчисараях без ГМО.</p>
    <img class="v1-1" src="/public/images/photo5231159618821012857.jpg" alt="">
    <img class="v1-3" src="/public/images/photo5231159618821012874.jpg" alt="">
    </div>
</div>
<div class="third-page">
    <img class="img-third-page" src="/public/images/photo5231159618821012858.jpg" alt="">
    <h1 class="title-third-page">Экологические продукты для всей семьи </h1>
    <p class="p-third-page">Самые  чистые продукты из горного Кыргыстана, солнечного Узбекистана</p>
</div>
<div class="fourth-page">
    <h1 class="title-fourth-page">Сезонные ягоды круглый год </h1>
    <p class="p-fourth-page">Самые спелые сочные и вкусные ягоды круглый год</p>
    <img class="img-fourth-page" src="/public/images/photo5231159618821012859.jpg" alt="">
</div>
<div class="fifth-page">
    <img class="img-fifth-page" src="/public/images/photo5231159618821012860.jpg" alt="">
    <h1 class="title-fifth-page">Чистый горный мёд </h1>
    <p class="p-fifth-page"> Натуральный горный мед из высокогорных пасих.
        Высокогорный мед является примером по-настоящему полезным и экологически чистым ингредиентом, который создан природой. Здесь гармонично сочетаются практические достоинства возвышенной местности и естественная польза.</p>
</div>

<div class="footer-page">
    <div class="middle-footer-page">
        <h1 class="footer-title1">Портал сайта</h1>
        <p class="footer-p1.0">Онлайн консультации</p>
        <p class="footer-p1.1">Торговая площадка</p>
        <p class="footer-p1.2">Последние новости</p>
        <p class="footer-p1.3">Цены</p>
        <p class="footer-p1.4">Видео уроки</p>
    </div>
    <div class="mfooter-page">
        <h1 class="footer-title3">Скачайте наше приложение</h1>
        <img class="v1-4" src="/public/images/photo5231159618821012897.jpg" alt="">
    </div>
    <div class="left-footer-page">
        <h1 class="footer-title2">Свяжитесь с нами</h1>
        <p class="footer-p2.0">+ 996 700 000 000</p>
        <p class="footer-p2.1">+ 998 99 000 00 00</p>
        <p class="footer-p2.2">handalak@gmail.com</p>
    </div>
    <h1 class="rights">© 2022 Handalak, Inc. All rights reserved.</h1>
</div>
</body>
</html>